<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>
                    {{ message|safe }}
                    <a href="">x</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if request.user.is_authenticated %}
        Bienvenido {{ request.user.first_name|default:request.user.username }},
    {% endif %}
    <a href="{% url 'login' %}">Iniciar Sesión</a>
<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <input type="submit" value="Cerrar Sesión">
</form>
    {% block content %}
    {% endblock %}

</body>
</html>